
bin/
conf/
derbyns/
doc/
importablePackages/
lib/
log/
plugins/
repository/
samples/
serviceWrapper/
work/

.idea/
!/xl-deploy-8.5.2-server/hotfix/plugins/
!/xl-deploy-8.5.2-server/hotfix/lib/
/xl-deploy-8.5.2-server/hotfix/**/readme.txt
