<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="float-right">
                <button type="button" class="btn btn-primary btn-sm" ng-click="saveTemplate()"><i class="far fa-save"></i></i> Save</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="cancelEdit()"><i class="fas fa-ban"></i></i></i> Cancel</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="templateName">Name</label>
                    <input type="text" class="form-control" id="templateName" placeholder="Enter name for profile template" ng-model="currentTemplate.name">
                </div>
                <div class="form-group">
                    <label>Template</label>
                    <small class="form-text text-muted">Freemarker template the will render final json</small>
                    <div ui-ace="{
                      useWrapMode : true,
                      showGutter: true,
                      theme:'twilight',
                      mode: 'ftl',
                      useWorker:false,
                      onLoad: aceLoaded,
                      onChange: aceChanged
                    }" ng-model="currentTemplate.template"></div>

                </div>
            </form>
        </div>
    </div>
</div>