<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="float-right">

                <div class="btn-group mb-2" uib-dropdown is-open="status.isopen">
                    <button id="add-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                        <span><i class="fas fa-plus-circle"></i> Add</span>
                    </button>
                    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="add-button">
                        <a href="#" class="dropdown-item" ng-click="addBlueprint('py')">Python Profile</a>
                        <a href="#" class="dropdown-item" ng-click="addBlueprint('ftl')">Freemarker Profile</a>
                    </div>
                    <div style="padding-left: 5px">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="loadTemplateNames()"><i class="fas fa-sync-alt"></i> Refresh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="img/freemarker-logo.png" style="padding-bottom: 25px; padding-top: 25px;" alt="Freemarker logo">
                <div class="card-body">
                    <h5 class="card-title">Template Profiles</h5>
                    <div class="blueprint-list">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action" ng-repeat="t in ftlTemplateNames | orderBy: 'name'"
                                    ng-click="editTemplate(t)">{{t.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="img/python-logo.png" style="height:100px" alt="Python logo">
                <div class="card-body">
                    <h5 class="card-title">Generic Processor Profiles</h5>
                    <div class="blueprint-list">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action" ng-repeat="t in genericPyProcessorNames | orderBy: 'name'"
                                    ng-click="editTemplate(t)">{{t.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="img/aws-cloudformation-logo.png" style="height: 100px; width: 167px" alt="Freemarker logo">
                <div class="card-body">
                    <h5 class="card-title">Processor Profiles</h5>
                    <div class="blueprint-list">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action" ng-repeat="t in awsPyProcessorNames | orderBy: 'name'"
                                    ng-click="editTemplate(t)">{{t.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="img/kubernetes-logo.png" style="height:100px; width: 400px" alt="Python logo">
                <div class="card-body">
                    <h5 class="card-title">Processor Profiles</h5>
                    <div class="blueprint-list">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action" ng-repeat="t in k8sPyProcessorNames | orderBy: 'name'"
                                    ng-click="editTemplate(t)">{{t.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="img/terraform-logo.png" style="height:100px; width: 410px" alt="Freemarker logo">
                <div class="card-body">
                    <h5 class="card-title">Processor Profiles</h5>
                    <div class="blueprint-list">
                        <div class="list-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>